body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.bg-custom{
    background: #420c59;
}
.club-home-page {
    background-color: #420c59;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.club-home-page h1{ 
    font-size: 4rem;
    margin-bottom: 0;
}

.club-home-page p{
    font-size: 1.5rem;
    margin-top: 20px;
}

#about {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: justify;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#about h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.event-box {
    background-color: #420c59; /* Background color */
    padding: 30px 0; /* Add padding */
    margin-bottom: 40px; /* Add some bottom margin */
    color: #ffff;
}

.card {
    border: none; /* Remove default card border */
    border-radius: 10px; /* Add border radius */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: all 0.3s ease; /* Add transition */
}
.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    transform: translateY(-5px); /* Move card up on hover */
}
.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body {
    padding: 20px;
}
.card-title {
    color: #420c59; /* Title color */
    font-weight: bold; /* Bold font */
    margin-bottom: 10px; /* Add some bottom margin */
}
.card-text {
    color: #666; /* Text color */
}

/* Custom CSS for gallery */
#gallery {
    background-color: #420c59; /* Background color for the whole section */
    padding: 50px 0; /* Add some padding for better spacing */
}
.gallery-heading {
    color: white; /* Text color */
    text-align: center; /* Center align the heading */
}
.gallery-item {
    border: 1px solid white; /* Border color */
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}
/* Adjust spacing between columns */
.row > div[class^="col-"] {
    padding: 0 15px;
}

        /* Custom CSS for footer */
        footer {
            background-color: #420c59; /* Background color */
            color: white; /* Text color */
            padding: 20px 0; /* Add padding */
        }
        .social-icons a {
            color: white; /* Icon color */
            font-size: 24px; /* Icon size */
            margin-right: 15px; /* Add right margin for spacing */
        }
        .social-icons a:hover {
            color: #fff; /* Change color on hover */
            text-decoration: none; /* Remove underline on hover */
        }
